<div id="header"
  [ngClass]="{
    selected: selected.length
  }">
  <h2 class="title">{{tableTitle}}</h2>
  <div class="new">
    <button md-button
      class="button"
      color="primary"
      (click)="onAddClicked()">
      Add
    </button>
  </div>
  <div class="options"
    [ngClass]="{
      show: selected.length
    }">
    <button md-icon-button
      mdTooltip="Delete selected"
      [disabled]="!selected.length"
      (click)="deleteSelected()">
      <md-icon>delete</md-icon>
    </button>
    <md-menu #moreMenu="mdMenu">
      <button md-menu-item
        (click)="onManyButtonClick($event, option)"
        *ngFor="let option of manyOptions">
        {{option.label}}
      </button>
    </md-menu>
    <button md-icon-button
      mdTooltip="More options..."
      [disabled]="!selected.length"
      [mdMenuTriggerFor]="moreMenu"
      *ngIf="manyOptions.length">
      <md-icon>more_horiz</md-icon>
    </button>
  </div>
</div>
<table id="table" #table>
  <thead id="head">
    <tr class="row"
      [ngClass]="{
        selected: isAllSelected
      }">
      <th class="cell header icon"
        *ngIf="selectable">
        <md-checkbox
          [checked]="isAllSelected"
          (change)="selectAll($event)">
        </md-checkbox>
      </th>
      <th class="cell header"
        [ngClass]="{
          number: column.type === 'number'
        }"
        (click)="onColumnClick($event, column)"
        *ngFor="let column of columns">
        {{column.header}}
        <span
          class="icon-container"
          *ngIf="column.sorted">
          <md-icon class="icon sorted">
            {{column.sorted === 'inc' ? 'arrow_drop_up' : 'arrow_drop_down'}}
          </md-icon>
        </span>
      </th>
      <th class="cell header icon"
        *ngIf="options.length">
      </th>
    </tr>
  </thead>
  <tfoot id="foot">

  </tfoot>
  <tbody id="body">
    <tr class="row"
      [ngClass]="{
        selected: item.selected
      }"
      *ngFor="let item of sortedItems">
      <td class="cell icon select"
        *ngIf="selectable">
        <md-checkbox
          (change)="onSelectedChange($event, item)"
          [(ngModel)]="item.selected">
        </md-checkbox>
      </td>
      <td class="cell"
        [ngClass]="{
          icon: column.type === 'button',
          number: column.type === 'number'
        }"
        [ngSwitch]="column.type"
        *ngFor="let column of columns">
        <span *ngSwitchCase="'button'">
          <button md-button
            (click)="onButtonClick($event, item, column)">
            {{column.value}}
          </button>
        </span>
        <span *ngSwitchDefault>
          {{print(item, column.value, column.type)}}
        </span>
      </td>
      <td class="cell icon options"
        *ngIf="options.length">
        <md-menu #moreMenu="mdMenu">
          <button md-menu-item
            (click)="onButtonClick($event, item, option)"
            *ngFor="let option of options">
            {{option.label}}
          </button>
        </md-menu>
        <button md-icon-button
          mdTooltip="More options..."
          [mdMenuTriggerFor]="moreMenu">
          <md-icon>more_horiz</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
