<div id="container">
  <div id="header" *ngIf="header">
    <div class="content row">
      <vcl-navigation id="navigation"></vcl-navigation>

      <div class="spacer"></div>

      <md-menu yPosition="below" [overlapTrigger]="false" #userMenu="mdMenu">
        <button md-menu-item
          *ngIf="isAuth">
          <md-icon>settings</md-icon>
          Settings
        </button>
        <button md-menu-item
          (click)="logout()">
          <md-icon>exit_to_app</md-icon>
          {{isAuth ? 'Logout' : 'Login'}}
        </button>
      </md-menu>
      <div id="user">
        <button md-button [mdMenuTriggerFor]="userMenu" #menu>
          <md-icon>expand_more</md-icon>
          {{username}}
        </button>
      </div>
    </div>
  </div>
  <div id="content"
    [ngClass]="{
      fractal: !header && !footer
    }">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer id="footer" *ngIf="footer">
    <div class="content">
      Footer
    </div>
  </footer>
</div>
