<div class="full-width">
  <vcl-form-status
    class="flex-row"
    [status]="status"
    (save)="onFormSubmit()"
    *ngIf="status.icon">
  </vcl-form-status>
  <h3 class="flex-row">{{ title }}</h3>
  <div class="flex-row subtitle">
    <span class="author"></span>
    <span class="spacer"></span>
    <md-slide-toggle
      class="right"
      labelPosition="before"
      [(ngModel)]="showAdvanced">
      Show Advanced
    </md-slide-toggle>
  </div>
</div>
<div class="flex-container padded"
  *ngIf="imageGroup">
  <div class="main">
    <div>
      <form [formGroup]="imageGroupForm" (ngSubmit)="onFormSubmit()">
        <md-form-field
          class="full-width form-control">
          <input mdInput
            type="text"
            placeholder="Name"
            formControlName="name" />
        </md-form-field>
        <div [hidden]="!showAdvanced">
          Advanced Options!
        </div>
        <button md-button
          color="primary"
          [disabled]="!imageGroupForm.dirty || !status.isPending()"
          type="submit">
          Save
        </button>
      </form>
    </div>
  </div>
  <div class="side">
    <vcl-list-editor
      [title]="'Images'"
      [items]="imageGroup ? imageGroup.value : []"
      [available]="images"
      [placeholder]="'Add a group'"
      [buttons]="buttons"
      (addItem)="imageListAddItem($event)"
      (removeItem)="imageListRemoveItem($event)"
      (itemClicked)="imageListClickItem($event)"
      (buttonClicked)="imageListClickButton($event)"
      #imageList>
    </vcl-list-editor>
  </div>
</div>
