.padded {
  padding: 15px 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  margin: 0;

  & > * {
  }

  .spacer {
    flex: 1 1 100%;
  }

  .right {
    align-self: flex-end;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.column {
    flex-direction: column;
  }

  .main {
    @extend .section;
    flex: 5 1 500px;
    min-width: 400px;
  }

  .side {
    @extend .section;
    flex: 1 5 300px;
    min-width: 200px;
  }

  .section {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.full-width {
  width: 100%;
}
